<div class="c-user-login u-spacing">
  <h3 class="c-user-login__title">Welcome</h3>

  <div class="c-user-login__form">
    {{ content.user_login_form }}
  </div>

  <div class="c-user-login__links u-spacing--quarter">
    {{ content.user_links }}
  </div>
</div>
