/* ------------------------------------*\
    $GRIDS
\*------------------------------------ */

.l-grid {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: $space;
  grid-row-gap: $space-double;
  // Prevents an auto min. width which can cause overflow issues.
  grid-template-columns: minmax(0, 1fr);

  @media all and (-ms-high-contrast: none) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -$space;
    margin-right: -$space;

    > * {
      margin: $space;
    }
  }

  &-item {
    position: relative;

    &--full {
      grid-column: 1 / -1;
    }
  }

  &--large-gutters {
    grid-column-gap: $space * 4;
    grid-row-gap: $space * 4;
  }

  &--small-gutters {
    grid-column-gap: $space;
    grid-row-gap: $space;
  }

  &--xsmall-gutters {
    grid-column-gap: $space-half;
    grid-row-gap: $space-half;
  }

  &--2up {
    grid-row-gap: $space;

    @include media(">large") {
      grid-row-gap: $space-double;
      grid-template-columns: repeat(2, 1fr);
    }


    @media all and (-ms-high-contrast: none) {
      > * {
        width: calc(50% - #{$space-double});
      }
    }

    &--flex {
      display: flex;
      flex-wrap: wrap;
      margin: 0 calc(#{$space} * -1);

      > * {
        width: 100%;
        padding-left: $space;
        padding-right: $space;
        margin-top: $space * 2;

        @include media(">large") {
          width: 50%;
        }
      }
    }
  }

  &--3up {
    @include media(">small") {
      grid-template-columns: repeat(2, 1fr);
    }


    @include media(">large") {
      grid-template-columns: repeat(3, 1fr);
    }


    @media all and (-ms-high-contrast: none) {
      > * {
        width: calc(33.333% - 40px);
      }
    }
  }

  &--4up {
    grid-template-columns: repeat(minmax(200px, 1fr));

    @include media(">xsmall") {
      grid-template-columns: repeat(2, 1fr);
    }


    @include media(">medium") {
      grid-template-columns: repeat(3, 1fr);
    }


    @include media(">xlarge") {
      grid-template-columns: repeat(4, 1fr);
    }


    @media all and (-ms-high-contrast: none) {
      > * {
        width: calc(25% - 40px);
      }
    }
  }

  &--4up--at-medium {
    grid-template-columns: repeat(2, 1fr);

    @include media(">small") {
      grid-template-columns: repeat(3, 1fr);
    }


    @include media(">medium") {
      grid-template-columns: repeat(4, 1fr);
    }


    @media all and (-ms-high-contrast: none) {
      > * {
        width: calc(25% - 40px);
      }
    }
  }

  &--5up {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));

    @include media(">large") {
      grid-template-columns: repeat(5, 1fr);
    }


    @media all and (-ms-high-contrast: none) {
      > * {
        width: calc(20% - 40px);
      }
    }
  }

  &--50-1fr {
    grid-template-columns: 50px 1fr;
  }

  &--tiles ul {
    display: grid;
    grid-template-rows: auto;
    grid-column-gap: $space;
    grid-row-gap: $space-double;
    grid-template-columns: repeat(minmax(200px, 1fr));

    @media all and (-ms-high-contrast: none) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -$space;
      margin-right: -$space;

      > * {
        margin: $space;
      }
    }

    @include media(">xsmall") {
      grid-template-columns: repeat(2, 1fr);
    }


    @include media(">medium") {
      grid-template-columns: repeat(3, 1fr);
    }


    @include media(">xlarge") {
      grid-template-columns: repeat(4, 1fr);
    }


    @media all and (-ms-high-contrast: none) {
      > * {
        width: calc(25% - #{$space-double});
      }
    }
  }
}

/**
 * Views grid layout.
 */
.view--grid {
  // This layout describes:
  // mobile -> 1col in a row, tablet narrow/wide -> 2/3 cols in a row, desktop -> 4cols in a row
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  grid-row-gap: $space-double;
  grid-column-gap: $space-double;
  justify-content: space-evenly;
  padding: $space 0;

  @include media(">xsmall") {
    grid-template-columns: repeat(2, 1fr);
  }


  @include media(">medium") {
    grid-template-columns: repeat(3, 1fr);
  }


  @include media(">xlarge") {
    grid-template-columns: repeat(4, minmax(250px, 350px));
  }
}
