body.maintenance-page {
  background-color: $c-login--background;
  color: $c-login--foreground;
  text-align: center;

  .layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    max-width: 600px;
    justify-content: center;
    padding: $space-double;
  }

  h1 {
    margin: $space;
  }

  .o-logo {
    margin-bottom: $space-double;

    @include big-logo;

    @include media("<small") {
      img {
        max-width: 100%;
      }
    }
  }
}
