<div class="prompt-modal">
  <div class="prompt-link" style="background: {{ bg_color }}">
    <a href=" {{ modal_link }}" class="use-ajax" data-dialog-type="modal">
      <span class="prompt-tile-icon">{{ icon }}</span>
      <span class="prompt-tile-title">{{ title }}</span>
    </a>
  </div>
</div>

