{#
/**
 * @file
 * Offline state for Vidyo rooms.
 *
 * Available variables:
 * - offline_message: The title to display on the results card.
 * - attributes: Attributes to apply to the message container.
 */
#}

<div{{attributes}}>
  {{ offline_message }}
</div>
